<!-- 
<div class="row mt-4">
  <div class="col-md-4">
    <div class="card cards">
    <img src="../../assets/cartuchera.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Cartuchera Koala</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="btn btn-primary cart">Agregar al carrito</a>
    </div>
  </div>
  </div>
  <div class="col-md-4">
    <div class="card cards">
      <img src="../../assets/carpetas.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Carpetas Universitarias</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary cart">Agregar al carrito</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card cards">
      <img src="../../assets/vaso.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Vaso Térmico</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary cart">Agregar al carrito</a>
      </div>
    </div>
  </div>
</div> -->

<app-producto></app-producto>