<div class="row mt-5">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Nombre del producto</label>
                <input type="text" formControlName="productName" name="productName" class="form-control"
                    id="exampleInputEmail1" aria-describedby="emailHelp" required>
                <span class="help-block" *ngIf="productName?.touched && productName?.errors?.['required']">Este Campo es
                    Obligatorio</span>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Nombre de fantasía</label>
                <input type="text" formControlName="fantasiName" name="fantasiName" class="form-control"
                    id="exampleInputPassword1">
                <span class="help-block" *ngIf="fantasiName?.touched && fantasiName?.errors?.['required']">Este Campo es
                    Obligatorio</span>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Marca</label>
                <input type="text" formControlName="brand" name="brand" class="form-control" id="exampleInputPassword1">
                <span class="help-block" *ngIf="brand?.touched && brand?.errors?.['required']">Este Campo es
                    Obligatorio</span>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Descripción del producto</label>
                <textarea class="form-control" formControlName="description" name="description"
                    id="exampleFormControlTextarea1" rows="3"></textarea>
                    <span class="help-block" *ngIf="description?.touched && description?.errors?.['minlength']">La Longitud mínima de este campo es de 10 caracteres</span>
            </div>
            <div class="mb-3">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Categoría</option>
                    <option value="1">Útiles</option>
                    <option value="2">Mochilas</option>
                    <option value="3">Cartucheras</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Precio</label>
                <input type="number" formControlName="price" name="price" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
                <span class="help-block" *ngIf="price?.touched && price?.errors?.['required']">Este Campo es
                    Obligatorio</span>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Producto sustentable</label>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!productForm.valid">Cargar producto</button>
        </form>
    </div>
    <div class="col-md-1"></div>
</div>