<div class="row mt-5">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Número de Alumno</label>
                <input type="text" formControlName="id" name="id" class="form-control"
                    id="exampleInputEmail1" aria-describedby="emailHelp" [attr.disabled]="true">
            </div>
            <div class="mb-3">
                <label for="exampleInputName" class="form-label">Nombre</label>
                <input type="text" formControlName="name" name="name" class="form-control"
                    id="exampleInputName" aria-describedby="emailHelp" required>
                <span class="help-block" *ngIf="name?.touched && name?.errors?.['required']">Este Campo es
                    Obligatorio</span>
            </div>
            <div class="mb-3">
                <label for="exampleInputDate" class="form-label">Fecha de inicio</label>
                <input type="text" formControlName="startDate" name="startDate" class="form-control"
                    id="exampleInputDate" aria-describedby="emailHelp" required>
                <span class="help-block" *ngIf="startDate?.touched && startDate?.errors?.['required']">Este Campo es
                    Obligatorio</span>
            </div>
            <div class="mb-3">
                <label for="exampleInputDay" class="form-label">Días</label>
                <input type="text" formControlName="days" name="days" class="form-control"
                    id="exampleInputDay">
                <span class="help-block" *ngIf="days?.touched && days?.errors?.['required']">Este Campo es
                    Obligatorio</span>
            </div>
            <div class="mb-3">
                <label for="exampleInputTime" class="form-label">Horario</label>
                <input type="text" formControlName="hourCourse" name="hourCourse" class="form-control" id="exampleInputTime">
                <span class="help-block" *ngIf="hourCourse?.touched && hourCourse?.errors?.['required']">Este Campo es
                    Obligatorio</span>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Profesor/a</label>
                <input type="text" formControlName="teacher" name="teacher" class="form-control" id="exampleInputPassword1">
                <span class="help-block" *ngIf="teacher?.touched && teacher?.errors?.['required']">Este Campo es
                    Obligatorio</span>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!courseForm.valid">Guardar</button>
        </form>
    </div>
    <div class="col-md-1"></div>
</div>
